#!/usr/bin/env bash

if command -v devenv >> /dev/null; then
    eval "$(devenv direnvrc)"
    use devenv
else
    echo "error: Install devenv first (https://devenv.sh) and then run 'direnv reload'"
fi