#!/usr/bin/env bash

if [[ $DEBUG != "" ]]; then
  set -x
fi

if command -v devenv >> /dev/null; then
  eval "$(devenv direnvrc)"
  use devenv
else
  echo "error: Install devenv first (https://devenv.sh) and then run 'direnv reload'"
  return 1
fi

if [[ $DEBUG != "" ]]; then
  set +x
fi
