public
public_html
public_ctrl-c
site
venv
.venv
.cache
node_modules
.env
*.tar.gz
gmi/api/commit
.env.keys
*.decrypted

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
