[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
pillow = "*"
cairosvg = "*"
mkdocs-rss-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-autolinks-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "mkdocs serve --watch overrides --watch-theme --livereload"
build = "bash bin/build.sh"
build-staging = "bash bin/build.sh mkdocs.readthedocs.yml"
build-tilde-ctrlc = "TILDE_PUBLIC_HTML_BASE=https://ctrl-c.club/~ajhalili2006/ TARGET_DIR=build/ctrl-c.club bash bin/build.sh mkdocs.tilde.yml"
build-tilde-psflt = "TILDE_PUBLIC_HTML_BASE=https://ajhalili2006.p.psf.lt/ TARGET_DIR=build/p.psf.lt bash bin/build.sh mkdocs.tilde.yml"
build-tilde-dimensions = "TILDE_PUBLIC_HTML_BASE=https://ajhalili2006.dimension.sh TARGET_DIR=build/dimension.sh bash bin/build.sh mkdocs.tilde.yml"
