[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
pillow = "*"
cairosvg = "*"
mkdocs-rss-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-autolinks-plugin = "*"
mkdocs-git-authors-plugin = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "mkdocs serve --watch overrides --watch-theme --verbose"
build = "mkdocs build -d public --verbose"
build-staging = "pipenv run build -f mkdocs.readthedocs.yml"
