[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
pillow = "*"
cairosvg = "*"
mkdocs-rss-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-autolinks-plugin = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "mkdocs serve --watch overrides --watch-theme --livereload --open"
build = "bash bin/build.sh"
build-staging = "bash bin/build.sh mkdocs.readthedocs.yml"
build-tilde-ctrlc = "bash bin/build.sh mkdocs.tilde.yml"
